[submodule "webpack-demos"]
	path = webpack-demos
	url = https://github.com/ruanyf/webpack-demos.git
[submodule "webpack-howto"]
	path = webpack-howto
	url = https://github.com/petehunt/webpack-howto
